<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>

</style>
<div style="display: flex;background-color:#fff;padding:0 20px;justify-content: space-between;border-bottom: 1px solid #cf493e">
  <div style="display:flex">
    <div style="display:flex;align-items: center;width: 125px;height: 90px;">
      <img class="LegalLogo uploaded-applicationimage" id="HeartlandLogoHeaderDefault" src="/assets/HeartlandLogo.png">
    </div>
    <div style="display: flex;flex-direction: column;justify-content: end">
      <div>
        <span class="base-info font-21 font-bold">TEST COMAPNY</span>
        <span class="base-info font-bold">Terminated</span>
        <a class="base-info link">Change Client</a>
      </div>
      <div class="font-15">
        <span class="base-info">Client ID: 011TEST204</span>
        <span class="base-info">Support ID: 101595</span>
      </div>
      <div class="font-15">
        <span class="base-info font-bold">Payroll + HR</span>
      </div>
    </div>
  </div>
  <div style="display: flex;"  class="font-15">
    <div style="display: flex;flex-direction: column;justify-content: center">
      <div>
        <span class="base-info">Wednesday, December 08, 2021</span>
      </div>
      <div>
        <span class="base-info">Hi, greg.wang!</span> 
        <a class="base-info link">Profile Selection</a>
        <a class="base-info link">Sign Out</a>
      </div>
    </div>
  </div>
</div>
<nav mat-tab-nav-bar>
  <a mat-tab-link href={{link}} *ngFor="let link of links"
     (click)="activeLink = link"
     [active]="activeLink == link"> {{link}} </a>
</nav>

<router-outlet></router-outlet>

<app-footer></app-footer>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


